apiVersion: v1
kind: Namespace
metadata:
  name: {{ k3s_homepage_namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ k3s_homepage_app_name }}-config
  namespace: {{ k3s_homepage_namespace }}
data:
  settings.yaml: |
    title: Homepage
  bookmarks.yaml: |
{{ k3s_homepage_bookmarks | to_nice_yaml(indent=2) | indent(4, true) }}
  services.yaml: |
{{ k3s_homepage_services | to_nice_yaml(indent=2) | indent(4, true) }}
  widgets.yaml: |
{{ k3s_homepage_widgets | to_nice_yaml(indent=2) | indent(4, true) }}
  kubernetes.yaml: |
    mode: cluster
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ k3s_homepage_app_name }}
  namespace: {{ k3s_homepage_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ k3s_homepage_app_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ k3s_homepage_app_name }}
    spec:
      containers:
        - name: {{ k3s_homepage_app_name }}
          image: {{ k3s_homepage_image }}
          imagePullPolicy: IfNotPresent
          env:
            - name: HOMEPAGE_ALLOWED_HOSTS
              value: {{ k3s_homepage_hostname }}
          ports:
            - containerPort: {{ k3s_homepage_service_port }}
              name: http
          volumeMounts:
            - name: homepage-config-data
              mountPath: /app/config
            - name: homepage-config
              mountPath: /app/config/settings.yaml
              subPath: settings.yaml
            - name: homepage-config
              mountPath: /app/config/bookmarks.yaml
              subPath: bookmarks.yaml
            - name: homepage-config
              mountPath: /app/config/services.yaml
              subPath: services.yaml
            - name: homepage-config
              mountPath: /app/config/widgets.yaml
              subPath: widgets.yaml
            - name: homepage-config
              mountPath: /app/config/kubernetes.yaml
              subPath: kubernetes.yaml
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
      volumes:
        - name: homepage-config
          configMap:
            name: {{ k3s_homepage_app_name }}-config
        - name: homepage-config-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ k3s_homepage_app_name }}
  namespace: {{ k3s_homepage_namespace }}
spec:
  selector:
    app.kubernetes.io/name: {{ k3s_homepage_app_name }}
  ports:
    - name: http
      port: {{ k3s_homepage_service_port }}
      targetPort: http
  type: ClusterIP
