apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ k3s_ingress_endpoint_certificate_name }}
  namespace: {{ k3s_ingress_endpoint_namespace }}
spec:
  secretName: {{ k3s_ingress_endpoint_tls_secret_name }}
  issuerRef:
    name: {{ k3s_ingress_endpoint_cluster_issuer_name }}
    kind: ClusterIssuer
  dnsNames:
    - {{ k3s_ingress_endpoint_host }}
