#!/usr/bin/env bash
set -euo pipefail

KUBECONFIG="{{ k3s_headlamp_local_artifact_dir }}/kubeconfig-gcp-k3s-tunneled.yaml" \
kubectl -n {{ k3s_headlamp_namespace }} port-forward svc/{{ k3s_headlamp_release_name }} {{ k3s_headlamp_local_port }}:{{ headlamp_service_port }}
