[Unit]
Description=Coin-Ops NAT forwarding
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/coinops-nat-forwarding.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
