#!/usr/bin/env bash
set -euo pipefail
ssh -o ExitOnForwardFailure=yes -N -L 6443:{{ k3s_operator_api_endpoint }}:6443 -F {{ repo_root }}/terraform/config/ssh_config {{ k3s_postcheck_jump_host_alias }}
