{{
  (k3s_kubeconfig_raw.content | b64decode)
  | regex_replace('https://127.0.0.1:6443', 'https://127.0.0.1:6443')
  | regex_replace('server: https://127.0.0.1:6443', 'server: https://127.0.0.1:6443\n    tls-server-name: ' ~ k3s_operator_api_endpoint)
}}
