# Applied by Ansible with no_log; do not pass these payloads through Helm values.
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_coinops_app_database_secret_name }}
  namespace: {{ k3s_coinops_app_proxy_namespace }}
type: Opaque
stringData:
  DATABASE_URL: {{ k3s_coinops_app_database_url | to_json }}
  RABBITMQ_URL: {{ k3s_coinops_app_rabbitmq_url | to_json }}
  REDIS_URL: {{ k3s_coinops_app_redis_url | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_coinops_app_database_secret_name }}
  namespace: {{ k3s_coinops_app_history_api_namespace }}
type: Opaque
stringData:
  DATABASE_URL: {{ k3s_coinops_app_database_url | to_json }}
  RABBITMQ_URL: {{ k3s_coinops_app_rabbitmq_url | to_json }}
  REDIS_URL: {{ k3s_coinops_app_redis_url | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_coinops_app_database_secret_name }}
  namespace: {{ k3s_coinops_app_consumer_namespace }}
type: Opaque
stringData:
  DATABASE_URL: {{ k3s_coinops_app_database_url | to_json }}
  RABBITMQ_URL: {{ k3s_coinops_app_rabbitmq_url | to_json }}
  REDIS_URL: {{ k3s_coinops_app_redis_url | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_coinops_app_registry_pull_secret_name }}
  namespace: {{ k3s_coinops_app_proxy_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ {'auths': {image_registry_host: {'username': registry_username, 'password': registry_token, 'auth': ((registry_username ~ ':' ~ registry_token) | b64encode)}}} | to_json | b64encode | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_coinops_app_registry_pull_secret_name }}
  namespace: {{ k3s_coinops_app_history_api_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ {'auths': {image_registry_host: {'username': registry_username, 'password': registry_token, 'auth': ((registry_username ~ ':' ~ registry_token) | b64encode)}}} | to_json | b64encode | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_coinops_app_registry_pull_secret_name }}
  namespace: {{ k3s_coinops_app_consumer_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ {'auths': {image_registry_host: {'username': registry_username, 'password': registry_token, 'auth': ((registry_username ~ ':' ~ registry_token) | b64encode)}}} | to_json | b64encode | to_json }}
