# Cloudflare token copied from runtime_config for cert-manager DNS-01.
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_acme_cloudflare_secret_name }}
  namespace: {{ k3s_acme_cloudflare_cert_manager_namespace }}
type: Opaque
stringData:
  api-token: {{ cloudflare_api_token | to_json }}
