# ClusterIssuer is cluster-scoped because multiple namespaces request certs.
# The Cloudflare token Secret still lives in cert-manager namespace.
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ k3s_acme_cloudflare_cluster_issuer_name }}
spec:
  acme:
    email: {{ certbot_email }}
    server: {{ k3s_acme_cloudflare_directory_url }}
    privateKeySecretRef:
      name: {{ k3s_acme_cloudflare_cluster_issuer_name }}-account-key
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: {{ k3s_acme_cloudflare_secret_name }}
              key: api-token
