apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ headlamp_certificate_name }}
  namespace: {{ headlamp_namespace }}
spec:
  secretName: {{ headlamp_tls_secret_name }}
  issuerRef:
    name: {{ headlamp_cluster_issuer_name }}
    kind: ClusterIssuer
  dnsNames:
    - {{ headlamp_ingress_host }}
