{%- set kubeconfig = k3s_local_cluster_kubeconfig_raw.content | b64decode | from_yaml -%}
{%- set cluster = kubeconfig.clusters[0] -%}
{%- set rewritten_cluster = cluster | combine({
  'cluster': cluster.cluster | combine({
    'server': 'https://' ~ ansible_host ~ ':6443'
  }) | dict2items | rejectattr('key', 'equalto', 'tls-server-name') | list | items2dict
}, recursive=True) -%}
{{ kubeconfig | combine({'clusters': [rewritten_cluster]}, recursive=True) | to_nice_yaml(indent=2, sort_keys=false) }}
