{{
  (k3s_local_cluster_kubeconfig_raw.content | b64decode)
  | regex_replace('server: https://[^\\n]+', 'server: https://' ~ ansible_host ~ ':6443')
  | regex_replace('\\n\\s*tls-server-name:.*', '')
}}
